::ng-deep .mat-dialog-container {
  border-radius: 1rem;
  padding: 0;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

mat-dialog-content {
  padding: 0 24px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
