<div class="bg-gradient-to-b from-pink-600 via-pink-700 to-purple-800 dark:from-gray-800 dark:via-gray-900 dark:to-gray-900 text-white h-full flex flex-col transition-all duration-300 ease-in-out"
    [class.w-64]="!isCollapsed" [class.w-20]="isCollapsed">
    <div class="p-4 overflow-y-auto">
        <h1 class="text-2xl font-bold mb-8" [class.hidden]="isCollapsed">Menu</h1>
        <nav>
            <ul class="space-y-2">
              <li>
  <div
    (click)="navigate('/driver-dashboard')"
    class="flex items-center p-2 rounded hover:bg-blue-700 dark:hover:bg-gray-700 cursor-pointer transition-colors duration-200"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path
        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
      />
    </svg>
    <span class="ml-2" [class.hidden]="isCollapsed">Dashboard</span>
  </div>
</li>



  
                
               <li>
  <div
    (click)="viewDriverDetails()"
    class="flex items-center p-2 rounded hover:bg-blue-700 dark:hover:bg-gray-700 cursor-pointer transition-colors duration-200"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M3 13V9.382a2 2 0 01.263-.99l1.724-3.447A2 2 0 016.763 4h6.474a2 2 0 011.776.945l1.724 3.447A2 2 0 0117 9.382V13a2 2 0 01-2 2h-1a2 2 0 01-4 0H7a2 2 0 01-4 0H3a2 2 0 01-2-2zm2-3.618V13h1a2 2 0 014 0h2a2 2 0 014 0h1V9.382a1 1 0 00-.132-.495l-1.724-3.447A1 1 0 0013.237 5H6.763a1 1 0 00-.882.44L4.157 8.887A1 1 0 004 9.382z"/>
    </svg>
    <span class="ml-2" [class.hidden]="isCollapsed">My Profile</span>
  </div>
</li>





<li>
  <div
    (click)="message()"
    class="flex items-center p-2 rounded hover:bg-blue-700 dark:hover:bg-gray-700 cursor-pointer transition-colors duration-200"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"/>
    </svg>
    <span class="ml-2" [class.hidden]="isCollapsed">Messages</span>
  </div>
</li>

<hr class="my-4 border-t-2 border-pink-400 dark:border-gray-700 opacity-50">



            </ul>
        </nav>
    </div>
</div>